
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: "Open Sans", sans-serif;
}
/* shared style
 */
 .text-center{
    text-align: center;

 }
 .text-color-d2{
    color: #757575;
 }

 /* header section */
 .header{
    background-image: url(/images/developer.png),url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    background-color: #FFF8F3;
 }
nav{
    display: flex;
    justify-content: space-around;
}
.nav-title{
    font-weight: 900;
    font-family: "Open Sans", sans-serif;
    font-size: 35px;
}
.text-primary{
      color: #FD6E0A;
}
.nav-items{
    list-style: none;
    display: flex;
    align-items: center;
    
}
nav>ul>li{
    margin-right: 30px;
}
nav>ul>li a{
    text-decoration: none;
}
.btn{
    padding: 8px 16px;
    background-color: #FD6E0A;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.dev-details{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.dev-description{
    max-width: 500px;
    margin-left: 150px;
}
.dev-picture{
   width: 500px;
}

/* about section style */
main{
    max-width: 1100px;
    margin: 0 auto;
}
.about{
    background-color: #FFF8F3;
    margin: 100px 0;
}
.about-content{
    text-align: center;
    padding: 130px 100px;
}
.about-title{
    color:#181818;
    font-weight: 600;
    font-size: 35px;
}
.about-description{
    color: #757575;
}
.about-items{
    display: flex;
    justify-content: space-around;
    
}
.about-items-title{
    margin-top: 0px;
    padding-top: 0px;
}
/* skills section style */
.skills-description{
    padding: 30px 150px;
}

.skills{
    display: flex;
    gap: 24px;
    padding: 70px 180px;
    background-color: #FFFFFF;
    
}
.skill{
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 5px;
    text-align: start;
    border-radius: 5px;
}
.skill p{
    font-size: 14px;
}
/* resume section style */

.resume-content{
    display: flex;
    gap: 30px;
    margin-left: 30px;
}
.education-area , .experience-area{
    width: 50%;
}
.resume-container h3,h5,p{
   margin-bottom: 0px;
}
.center-align{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20px;
}

/* footer section style */
footer{
    background-color: #FFF8F3;
    margin-top: 100px;
}
.footer-content{
    padding: 120px 230px;
    
}
.footer-text .form-container{  
    width: 40%;
}
.icons-section{
    margin-top: 20px;
}
.footer-content{
    display: flex;
    gap: 100px;
}
.form-section{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-content input[type="text"],input[type="email"]{
    height: 50px;
    width: 350px;
    border: none;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    padding: 5px;
}
textarea{
    height: 150px;
    width: 350px;
    border: none;
    padding: 5px;
}
.submit-button{
    margin-top: 20px;
}

.hide{
    display: none;
}

/* media query for small devices */

@media screen and (max-width:576px) {
    .skills{
        flex-direction: column;
        padding: 5px;
    }
    .skills-description{
        padding: 5px;
    }
    .skill{
        padding: 5px;
    }
    .resume-content , .footer-content{
        flex-direction: column;
    }
    .education-area , .experience-area ,.footer-text ,.form-container{
       width: 100%;
    }
    .footer-content{
        padding: 10px;
        gap: 20px;
    }
    .dev-details{
        flex-direction: column-reverse;
    }
    .dev-picture{
       width: 100%;
    }
    .dev-picture img{
        width: 100%;
    }
    .dev-description{
        width: calc(100% - 40px);
        margin: 0;
        padding: 20px;
    }
}